.sidebar .nav-link p {
	font-size: 14px !important;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice {
	background-color: #c82333 !important;
	border-color: #bd2130 !important;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice__remove {
	color: #fff !important;
}

.color-circle {
	height: 25px;
	width: 25px;
	border-radius: 15px;
}

.small-font {
	font-size: 0.8rem;
}

.white {
	color: #fff !important;
}

.small-thump {
	width: 80px;
}
