.red {
	color: #fc4112 !important;
}

.green {
	color: #0ddf0d !important;
}

.black {
	color: black !important;
}

.product-colors,
.product-sizes {
	display: flex;
	margin: 0px 0px 20px 0px;
}

.color-box-outline,
.size-box-outline {
	padding: 4px;
	border: 1px solid rgb(226, 226, 226);
	margin-right: 5px;
	cursor: pointer;
}

.size-box-outline {
	color: black;
	padding-left: 8px;
	padding-right: 8px;
}

.selected-color,
.selected-size {
	border: 1px solid #dbb947 !important;
}

.color-box {
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.category-active {
	border-bottom: 2px solid #d2a35c !important ;
}

.selected-filter {
	border: 3px solid #d2a35c !important ;
}

.price-filter .price-slider-amount .label-input input {
	width: 160px !important;
}

.out-of-stock {
	position: absolute;
	padding: 3px 5px;
	background-color: black;
	color: white;
}

.description-body ul {
	list-style-type: disc !important;
	list-style-position: inside;
}
